
<!DOCTYPE html>
<html>
<head>
 
  {{> header}}

</head>
<body>
  

  {{> navbar}}

  <div class="px-4 py-5 my-5 text-center">
    
    <h1 class="display-5 fw-bold text-body-emphasis">User Authentication System</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">This website is created on the frameworks HTML,CSS,Javascript,NodeJS,MongoDB, and Bcryptjs.The frontend part of this website is created using Bootstrap templates </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="register">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Register</button></a>
        <a href="login">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Login</button></a>
      </div>
    </div>
  </div>
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Title</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Always remember that the computer does not have intelligence, but it acquires artificial intelligence through three main functional elements: the ability to analyze, the ability to compose, and logical reasoning.</font></font></p>
        <p><a class="btn btn-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">View details</font></font></a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">post address</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">If we want to use a smart computer to process the Arabic language, we find ourselves facing a great challenge, especially since our language is characterized by the coherence and overlapping of its systems. Nevertheless, artificial intelligence enables us to obtain four types of processing, which are: phonological processing, morphological processing, grammatical processing, and grammatical processing. semantic.</font></font></p>
        <p><a class="btn btn-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">View details</font></font></a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A third address to confirm the information</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thanks to the research and techniques of artificial intelligence, we have been able to move from the stage of dealing with the physicist to the stage of dealing with the logical, and this transition has reflected positively on how people deal with their living languages, and this means that it should reflect positively on how we deal with our Arabic language.</font></font></p>
        <p><a class="btn btn-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">View details</font></font></a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Featured first title. </font></font><span class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">It will blow your mind.</font></font></span></h2>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The human face is a complex and highly distinct part of the body. </font><font style="vertical-align: inherit;">In fact, it is one of the most complex signaling systems available to us; </font><font style="vertical-align: inherit;">It includes more than 40 structurally and functionally independent muscles, each of which can be operated independently of the other; </font><font style="vertical-align: inherit;">It is one of the strongest indicators of emotion.</font></font></p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Oh yeah, that's good. </font></font><span class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">See for yourself.</font></font></span></h2>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">When we laugh or cry, we're projecting our emotions, allowing others to peek into our minds as they "read" our faces based on changes in key facial components such as the eyes, eyebrows, eyelids, nose, and lips.</font></font></p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">And finally, this. </font></font><span class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Checkmate.</font></font></span></h2>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">All the muscles in our body are supported by nerves that connect from all over the body to the spinal cord and brain. </font><font style="vertical-align: inherit;">This nerve communication is bidirectional, i.e. the nerve causes muscle contractions based on brain signals, and at the same time sends information about the muscle condition to the brain</font></font></p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>
  
  

  
</body>
</html>
