<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home </a>
      <a class="nav-item nav-link " href="/register">Register</a>
      <a class="nav-item nav-link" href="/login">Login</a>
        {{!-- <a class="nav-item nav-link" href="/account">Account</a> --}}
        {{!-- <a class="nav-item nav-link" href="/logout">Logout</a>  --}}
    </div>
  </div>
</nav>

    <div class="container">
        <div class="row my-5">
            <div class="col-sm-6 col-md-4 mx-auto">
                <h1 class="text-center login-title my-5">Employee Login Form</h1>
                <div class="account-wall">
                    <img class="profile-img"
                        src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/eu7opA4byxI/photo.jpg?" 
                        alt="">
                    <form class="form-signin" action="/login" method="POST">
                        <input type="email" class="form-control" placeholder="Email" required name="email">
                        <input type="password" class="form-control" placeholder="Password" required name="password">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Sign in
                        </button>
                        <label class="checkbox pull-left mt-3">
                            <input type="checkbox" value="remember-me">
                            Remember me
                        </label>
                        
                    </form>
                </div>
                <a href="/register" class="text-center new-account">Create an account</a>
            </div>
        </div>
    </div>

</body>
</html>
  